* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(photo_2021-10-08_17-57-34.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  section {
    height: 50vh;
    width: 80%;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 70px #00000010;
    background-color:rgb(139, 139, 139);
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }
  .form-group input,
  .form textarea
  {
      align-items: center;
      padding: 5px 15px;border: 1px solid #5c5c5c;
      border-radius: 3px;
      background: #5c5c5c;
      font-size: 20px;
      width: 100%;
      margin: 4px 0;
      height: auto;
  }
  
  form textarea
  {
      padding: 5px 15px;border: 1px solid #5c5c5c;
      border-radius: 3px;
      background: #5c5c5c;
      font-size: 20px;
      width: 100%;
      margin: 4px 0;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s ease background-color;
  }
  button[type="submit"]:hover {
    background-color: #00fff0;
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  